<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<!-- "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd"> -->        
 
<hibernate-configuration>
    <session-factory>
 
        <!-- Connection settings -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost/dds</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">1234</property>
 
        <!-- SQL dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
 
 		
 
        <!-- Print executed SQL to stdout -->
        <property name="show_sql">true</property>
 
        <!-- Drop and re-create all database on startup -->

        <property name="hibernate.hbm2ddl.auto">update</property>
 		
        <!-- Annotated entity classes -->
       
        <mapping class="model.Usuario"/>
        <mapping class="model.Cuenta"/>
        <mapping class="model.Empresa"/>
        <mapping class="model.Metodologia"/>
        <mapping class="model.Indicador"/>
        <mapping class="model.parametroGeneral"/>
        <mapping class="model.ComparadorFiltro"/>
        <mapping class="model.ComparadorValor"/>
        <mapping class="model.ComparadorPromedio"/>
        <mapping class="model.ComparadorUnoMayorQueOtro"/>
        <mapping class="model.ComparadorUnoMayorQueOtroEnElTiempo"/>
        <mapping class="model.ComparadorValorTiempo"/>
        <mapping class="model.ComparadorOrden"/>
        <mapping class="model.ComparadorAnios"/>
        


    </session-factory>
</hibernate-configuration>