
{{#partial "contenido"}}

<h1>Evaluar Indicador</h1>

	<table class="table table-stripped">
		<tr>
			<th>Nombre</th>
			<th>Valor</th>
		</tr>
	
	{{#empresas.empresas}}
		<tr>
			<td>{{nombreEmpresa}}</td>

			<td>{{#valor}} {{this.valor}} {{/valor}}</td> 

		</tr>
	{{/empresas.empresas}}
</table>

{{/partial}}

{{>layout.hbs}}