<html>
<head>
	<link rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  	<link rel="stylesheet"  href="main.css">
</head>
<body>

<div class="container">
  <div class="jumbotron">
    <h1>Log in</h1> 
    <p>Inicia sesion para acceder a todos los beneficios que Donde Invierto te ofrece</p>
  </div>
 </div>

<form>
	Usuario:     <input type="text" name="usuario"><br>
	Contrasena:     <input type="password" name="contrasena"><br>
	
	<input type="submit" value="Ingresar">
</form>

<footer class="footer">
    <p class="text-center">
      &copy; Donde invierto?
    </p>
</footer>
</body>
</html>