{{#partial "contenido"}}
<h1>Login</h1>

<form>
	Usuario:     <input type="text" name="usuario"><br>
	Contrasena:     <input type="password" name="contrasena"><br>
	
	<input type="submit" value="Ingresar">
</form>


{{/partial}}

{{>layout.hbs}}