{{#partial "contenido"}}

<div class="container">
    <div class="row">
        <div class="col-sm-3" id="myScrollspy">
            <ul class="nav nav-tabs nav-stacked" data-offset-top="120" data-spy="affix">
                <li><a href="#section1">Indicadores</a></li>
                <li><a href="#section2">Cuentas</a></li>
                <li><a href="#section3">Metodologias</a></li>
            </ul>
        </div>
        <div class="col-sm-9">
            <div id="section1">
                <h2>Indicadores</h2>
                <p>Los indicadores son una pieza crucial de nuestra plataforma ya que a partir de ellas 
                brindamos el mejor servicio de ayuda a los inversores con hambre de comerse el mercado. Estas se generar a partir
                tanto de cuentas, de constantes e incluso de otros indicadores</p><br>
                <h4>¿Que puedo hacer con los Indicadores?</h4>
                <ul> 
					 <li><span class="glyphicon glyphicon-plus"></span>Crear indicadores</li> 
					<li><span class="glyphicon glyphicon-eye-open"></span>Evaluar indicadores</li> 
				</ul> 
            </div>
            <hr>
            <div id="section2">
                <h2>Cuentas</h2>
                <p>Las cuentas son vitales a la hora de crear indicadores ya que generalmente son su columna vertebral.
                 Ademas se puede analizar las cuentas de las diferentes empresas a lo largo del tiempo</p>
                 <h4>¿Que puedo hacer con las Cuentas?</h4>
                <ul> 
					<li><span class="glyphicon glyphicon-plus"></span>Consultar cuentas de empresas</li>
				</ul> 
            </div>
            <hr>
            <div id="section3">
                <h2>Metodologias</h2>
                <p>Las metodologias son la herramienta mas compleja y poderosa de nuestra plataforma ya que esta integrado por un 
                indicador como de diferentes de comparadores de filtro y de orden lo que genera una busqueda precisa a la hora de elegir 
                donde invertir en el mercado</p>
                <h4>¿Que puedo hacer con las Metodologias?</h4>
                <ul> 
					 <li><span class="glyphicon glyphicon-plus"></span>Crear metodologias</li> 
					<li><span class="glyphicon glyphicon-eye-open"></span>Evaluar metodologias</li> 
				</ul> 
            </div>
        </div>
    </div>
</div>
{{/partial}}

{{>layout.hbs}}