{{#partial "contenido"}}


<div class="alert alert-warning">
  <strong>¿Esta seguro que desea salir</strong>
  <form method="post"><input type="submit" value="SI"></form>
  <a href="/home/menu"><button>Cuentas</button></a>
</div>
{{/partial}}

{{>layout.hbs}}