<html>
<head>
  <title>Donde invierto</title>
  <meta charset="utf-8">
  <link rel="stylesheet"  href="main.css">
  <link rel="stylesheet"  href="home.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
	<div class="row">
		<!-- Carousel -->
    	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
			<!-- Indicators -->
			<ol class="carousel-indicators">
			  	<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
			    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
			    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
			</ol>
			<!-- Wrapper for slides -->
			<div class="carousel-inner">
			    <div class="item active">
			    	<img src="imagenes/numeros.jpg" alt="First slide">
                    <!-- Static Header -->
                    <div class="header-text hidden-xs">
                        <div class="col-md-12 text-center">
                            <h2>
                            	<span>Bienvenidos a <strong>DONDE INVIERTO?</strong></span>
                            </h2>
                            <br>
                            <br>
                            <h3>
                            	<span class="subtitulo-1">La plataforma para ganar dinero en la bolsa de manera sencilla.</span>
                            </h3>
                            <br>
                            <div class="">
                                <a class="btn btn-theme btn-sm btn-min-block" href="login">Login</a>
                                <a class="btn btn-theme btn-sm btn-min-block" href="register">Registrarse</a></div>
                        </div>
                    </div><!-- /header-text -->
			    </div>
			    <div class="item">
			    	<img src="imagenes/funcion.jpg" alt="Second slide">
			    	<!-- Static Header -->
                    <div class="header-text hidden-xs">
                        <div class="col-md-12 text-center">
                            <br>
                            <h3>
                            	<span>Nunca fue tan facil invertir en la bolsa como con esta aplicacion.<br><br><br>Personaliza a tu manera como invertir.</span>
                            </h3>
                            <br>
                            <div class="">
                                <a class="btn btn-theme btn-sm btn-min-block" href="login">Login</a>
                                <a class="btn btn-theme btn-sm btn-min-block" href="register">Registrarse</a></div>
                        </div>
                    </div><!-- /header-text -->
			    </div>
			    <div class="item">
			    	<img src="imagenes/semilla.jpg" alt="Third slide">
			    	<!-- Static Header -->
                    <div class="header-text hidden-xs">
                        <div class="col-md-12 text-center">
                            <br>
                            <h3>
                            	<span>Registrate y empeza a descubrir una manera diferente de ver el mundo financiero .</span>
                            </h3>
                            <br>
                            <div class="">
                                <a class="btn btn-theme btn-sm btn-min-block" href="login">Login</a>
                                <a class="btn btn-theme btn-sm btn-min-block" href="register">Registrarse</a></div>
                        </div>
                    </div><!-- /header-text -->
			    </div>
			</div>
			<!-- Controls -->
			<a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
		    	<span class="glyphicon glyphicon-chevron-left"></span>
			</a>
			<a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
		    	<span class="glyphicon glyphicon-chevron-right"></span>
			</a>
		</div><!-- /carousel -->
	</div>
</div>

<footer class="footer">
    <p class="text-center">
      &copy; Donde invierto?
    </p>
</footer>

</body>
</html>
